<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sdut.dao.ProductMapper">
	
	<insert id="saveProduct" parameterType="com.sdut.model.Products">
		insert into products values(#{id},#{name},#{price},#{category},#{pnum},
		#{imgurl},#{description},#{state},#{cbtime});
	</insert>
	<update id="updateProduct" parameterType="com.sdut.model.Products">
		update products set name = #{name}, price = #{price}, category = #{category}, pnum = #{pnum}
		<if test="imgurl != null and imgurl != ''">
			,imgurl = #{imgurl}
		</if>
		, description = #{description}, state = #{state}, cbtime = #{cbtime}
		where id = #{id};
	</update>
	
	<delete id="delProduct" parameterType="string">
		delete from products where id = #{id};
	</delete>
	<select id="findProductById" parameterType="string" resultType="com.sdut.model.Products">
		select * from products where id = #{id};
	</select>	
	<select id="findProductList" resultType="com.sdut.model.Products">
		select * from products;
	</select>	
	
	<select id="findProductListByType" resultType="com.sdut.model.Products">
		select * from products where category = #{param1} limit #{param2.pianyiliang}, #{param2.pageSize};
	</select>
	<select id="findCount" resultType="int">
		select COUNT(*) from products;
	</select>
	<select id="findProductListPage" parameterType="com.sdut.model.PageBean" resultType="com.sdut.model.Products">
		select * from products limit #{pianyiliang}, #{pageSize};
	</select>
	<select id="findCountByType" parameterType="string" resultType="int">
		select COUNT(*) from products where category = #{type};
	</select>
	


</mapper>


